.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}

body{
  height: 100%;
  background: url("https://res.cloudinary.com/dfqzcsl8x/image/upload/v1603411268/Project4/school_uxhljx.jpg") no-repeat center center fixed;
  /* color:  #ff0000; */
  font-size: 1.1em;

}

ul.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(250, 112, 49);
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  /* font-family: 'DM Serif Text', serif; */
}

ul.nav li a:hover {
  background-color: #111;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer p {
  margin: auto;
}


.characterMainContainer{
  margin: 10em;
} 

.cardContainer {
  grid-row-gap: 4em;
} 

#mainImage {
  height: 500px;
  opacity: .9;
  border-radius: 5%;
}

.filterBar{
  width: 100%;
}

.home {
  margin-top: 5%;
}

.home h1 {
  font-size: 3em;
  margin: 2%;
  font-family: 'DM Serif Text', serif;
  color: #ff0000;;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'DM Serif Text', serif;
  text-shadow: 10px 10px 20px white;
}

.filterTitle{
  font-size: 2em;
  text-shadow: 2px 2px white;
}

.home h2 {
  color: white;
  text-shadow: 2px 2px #ff0000;
}

img{
  border-radius: 10%;
  box-shadow: 0px 0px 50px 10px grey
}

.singleCard {
  background-color: white;
  margin: 10px;
  border-radius: 5%;
}

.singleCard:hover{
  transform: scale(1.1);
  transition: transform .4s ease;
}

.eachCharacterInformation {
  width: 50%;
  margin: auto;
  padding-bottom: 10%;
  background-color: rgba(255, 255, 255, 0.39);
}

.formContainer{
  display: flex;
  height: 100vh;
}

.formContainer form{
  margin: auto;
  border: black solid 2px;
  padding: 3em;
  background-color: rgb(184, 184, 248);
}

.formContainer input, textarea{
  display: block;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  width: 100%;
}

.myprofile.ui.grid{
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.39);
}

.ui.center.aligned.header{
  width: 80px;
}

.outfitcontainer, .appointmentcontainer{
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.outfitForm {
  margin-top: 5%;
}

.outfitForm input{
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.outfitpage, .appointmentspage{
  margin-bottom: 10%;
}

.hoho{
  animation: HOHO infinite 1s alternate ease-in-out;
}

@keyframes HOHO {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}