.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(250, 112, 49);
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer p {
  margin: auto;
}


.characterMainContainer{
  margin: 10em;
} 

.cardContainer {
  /* display: grid;
  grid-template-columns: 6; */
  grid-row-gap: 4em;
  /* margin: auto; */
} 

#mainImage {
  height: 500px;
  opacity: .8;
}

.filterBar{
  width: 100%;
}

.home h1 {
  font-size: 3em;
  margin: 2%;
}

.home img {
  border-radius: 5%;
}

img{
  border-radius: 10%;
  box-shadow: 0px 0px 50px 10px grey
}

.singleCard:hover{
  transform: scale(1.1);
  transition: transform .4s ease;
}

.eachCharacterInformation {
  width: 50%;
  margin: auto;
  padding-bottom: 10%;
}

.formContainer{
  display: flex;
  height: 100vh;
}

.formContainer form{
  margin: auto;
  border: black solid 2px;
  padding: 3em;
}

.formContainer input, textarea{
  display: block;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  width: 100%;
}

.myprofile.ui.grid{
  margin-top: 5%;
}

.ui.center.aligned.header{
  width: 80px;
}

.outfitcontainer, .appointmentcontainer{
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.outfitForm {
  margin-top: 5%;
}

.outfitForm input{
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.outfitpage{
  margin-bottom: 10%;
}